{% extends 'banner.html.twig' %}
{% block content %}
  <div id="lg-form-container">
  <h1>{{ page_heading_2 }}{{ username }}</h1>
    <h2>System messages</h2>
    <p>Retrieval of messages from M2M service: <b>{{ result }}</b></p>
    <p>Storage of messages to Database: <b>{{ result2 }}</b></p>
    <table>
      <tr>
        <th>Source</th>
        <th>Time</th>
        <th>Message content</th>
      </tr>
      {% for item in message_arr %}
      <tr>
        <td>{{ item.msg_source }}</td>
        <td>{{ item.msg_time }}</td>
        <td>{{ item.msg_message }}</td>
      </tr>
      {% endfor %}
    </table>
    <p class="curr_page"><a href="{{ landing_page }}">Another go</a></p>
  </div>
{% endblock %}
