{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text }}</p>
        <form action="{{ action }}" method={{ method }}>
            <fieldset>
                <legend>Retrieve messages form</legend>
                <br>
                <table>
                  <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="15" maxlength="50"></td>
                  </tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="15" maxlength="50"></td>
                  </tr>
                  <tr>
                    <td><label for="mnumber">Messages count:</label></td>
                    <td><input id="mnumber" name="mnumber" type="number" value="{{ initial_input_box_value }}" size="5" maxlength="5"></td>
                  </tr>
                </table>
                <br><br>
                <input type="submit" value="Retrieve messages >>>">
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
